*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.board{
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translate(-50%);
  width:700px;
  height: 600px;
  background: black;
  border: 1px solid black;
  padding: 1.5rem;
}

.squares{
  width: 90px;
  height: 90px;
  background: white;
  border: 1px solid black;
}
